.page-header
  %h1
    Bookyt
    %small hilft Ihnen...

.row
  .span4
    %h3 Kontakte pflegen
    %p
      Im Zentrum ihrer Dienstleistung steht der Kunde. Darum ist auch bei uns die Kontaktverwaltung das Herzstück.

  .span4
    %h3 Debitoren verwalten
    %p
      Als Firma stellt man gerne Rechnungen, das Erstellen und Verwalten können wir Ihnen erleichtern.

  .span4
    %h3 Ausgaben kontrollieren
    %p
      Ordnung und Kontrolle sind wesentliche Elemente um die Ausgaben im Griff zu halten.

.row
  .span4
    %h3 Lohnbuchhaltung vereinfachen
    %p
      Jeden Monat müssen Löhne ausbezahlt und Abrechnungen verschickt werden. Wir automatisieren wo immer möglich.

  .span4
    %h3 Überblick verschaffen
    %p
      Mit unserer Finanzbuchhaltung behalten Sie den Überblick über den Geschäftsgang.

  .span4
    %h3 Zeit erfassen
    %p
      Sowohl für Mitarbeiter im Stundenlohn als auch für die Rechnungsstellung ist eine einfache und effiziente Erfassung geleisteter Arbeit unabdingbar.

.row
  .span4
    %h3 Ruhig schlafen
    %p
      All Ihre Daten werden in Schweizer Rechenzentren verarbeitet und werden professionell geschützt. Wenn ihr Computer ein Problem hat, nehmen sie einen
      anderen und arbeiten einfach weiter.
      
  .span4
    %h3 Schön kommunizieren
    %p
      Für Rechnungen, Lohnabrechnungen usw. können Sie individuelle Vorlagen hochladen. Denn diese Dokumente repräsentieren Ihre Firma gegen aussen.

  .span4
    %h3 Fokusiert ablegen
    %p
      Wichtigen Geschäft-Objekten und Prozessen wie Kunden, Rechnungen oder Konten können Sie soviele Dokumente anhängen wie Sie möchten.

.row
  .span4
    %h3 Überall suchen
    %p
      In der Titelleiste finden Sie zu jedem Zeitpunkt ein Suchfeld. Damit kann in allen relevanten Objekten nach beliebigen Feldern gesucht werden.

  .span4
    %h3 Effizient buchen
    %p
      Für wiederkehrende Buchungen gibt es die Funktionen "Buchung kopieren" und frei konfigurierbare Buchungsvorlagen.

  .span4
    %h3 Individuell einsteigen
    %p
      Wie bei jeder Webseite kann jeder Benutzer selber Bookmarks für die wichtigsten Seiten und Funktionen anlegen.

%h2
  %small Wir sind für Sie da

.row
  .span4
    %h3 Adresse
    %address
      CyT GmbH
      %br
      Dorfstrasse 17
      %br
      6300 Zug

  .span4
    %h3 Kontakt
    %address
      041/544 47 60
      %br
      info@cyt.ch
      %br
      http://cyt.ch

  .span4
    %h3 Dienstleistungen
    %p
      Individuelle Software Entwicklung
      %br
      Infrastruktur Planung
      %br
      Support

