.line
  .box.last
    .double.spacer
      %h2
        Kontakt
      %p
        Gerne kommen wir vorbei um Ihnen sämtliche Funktionen zu präsentieren.
      %p
        %form
          %p
            %input{ :placeholder => " Vorname", :style => "width: 294px" }
            %input{ :placeholder => " Nachname", :style => "width: 294px" }
          %p
            %input{ :placeholder => " e-Mail", :style => "width: 594px" }
          %p
            %textarea{ :placeholder => " Nachricht", :style => "width: 594px; height: 120px" }
          %p 
            %input{ :type => "submit", :value => "Absenden" }
    .small
      %h2
        Adresse
      %p
        CyT GmbH
      %p
        Dorfstrasse 17
      %p
        6300 Zug
      %p
        041 544 47 60
      %p
        info@cyt.ch
