.hero-unit
  %h1 Praxisadministration ganz einfach
  %p
    Mit CyDoc können Sie einfach, zeit- und standortunabhängig die wichtigsten administrativen Tätigkeiten erledigen.
  %p
    Eine schlanke und intuitive Benutzerführung erlaubt Ihnen sich auf Ihre Praxis zu konzentrieren.

  %p
    =link_to "Ich will mehr wissen", '/features', :class => "btn btn-success btn-large"

.row
  .span4
    %h2 Für Ärzte
    %p
      Elektronische Unterstützung bei der Praxisadministraion ist heute ein Muss. Wir bieten eine
      Lösung welche einfach ist, weil sie sich auf's wesentliche konzentriert.
                                 
  .span4
    %h2 Für Physio
    %p
      Für ein Treuhandbüro ist die Zusammenarbeit mit den Kunden zentral. Mit Bookyt können Sie die Arbeitsteilung Ihren Bedürfnissen anpassen.

  .span4
    %h2 Jetzt testen
    %p
      Dank moderner Internet-Technologie kaufen Sie nicht die Katze im Sack, sondern können unser Angebot hier und jetzt testen.
.row
  .span4= link_to "Weitere Informationen", '/allgmein', :class => "btn btn-danger"

  .span4= link_to "Weitere Informationen", '/physio', :class => "btn btn-warning"

  .span4= link_to "Weiter zur Demo", 'https://cydoc-demo.cyt.ch', :class => "btn btn-primary"
