.hero-unit
  %h1 Buchhaltung ganz einfach
  %p
    Mit Bookyt können Sie einfach, zeit- und standortunabhängig die wichtigsten administrativen Tätigkeiten erledigen.
  %p
    Eine moderne Benutzerführung und ausgefeilte Vorlagen erlauben Ihnen, sich auf das zu konzentrieren, was Sie am besten können.

  %p
    =link_to "Ich will mehr wissen", '/features', :class => "btn btn-success btn-large"

.row
  .span4
    %h2 Für KMU
    %p
      Elektronische Unterstützung bei Rechnungsstellung, Lohnbuchhaltung und Kontaktverwaltung sind heute ein Muss. Wir bieten eine
      Lösung, welche auf die Bedürfnisse Schweizer KMUs zugeschnitten ist.
                                 
  .span4
    %h2 Für Treuhand
    %p
      Für ein Treuhandbüro ist der Konakt zum Kunden zentral. Mit Bookyt können Sie die Arbeitsteilung Ihren Bedürfnissen anpassen.

  .span4
    %h2 Jetzt testen
    %p
      Dank moderner Internet-Technologie kaufen Sie nicht die Katze im Sack, sondern können unser Angebot hier und jetzt testen.
.row
  .span4= link_to "Weitere Informationen", '/kmu', :class => "btn btn-danger"

  .span4= link_to "Weitere Informationen", '/treuhand', :class => "btn btn-warning"

  .span4= link_to "Weiter zur Demo", 'http://bookyt.demo.cyt.ch', :class => "btn btn-primary"
