.hero-unit
  %h1 Cyt GmbH
  %p
    Wir sind ein junges und dynamisches Team welches durch langjährige Erfahrung in der Medizinalinformatik kompetente Lösungen für Ärzte und andere KMUs anbietet. Unser Credo ist stets die Minimierung unnötigen Aufwandes. Dafür eignen sich besonders die aus der Open Source Entwicklung bekannten Geschäftsmodelle. Das heisst, dass die Software an und für sich frei erhältlich ist, und lediglich der Service bezahlt werden muss. Somit wird gewährleistet, dass genau die Kosten entstehen, welche auch einen Nutzen bringen.

.row
  .span4
    %h2 Produkte
    %p
      Wenn es für Ihre Bedürfnisse noch kein geeignetes Programm gibt, entwickeln wir es nach Ihren Vorstellungen oder passen ein bestehendes Programm an Ihre Bedürfnisse an. Dank modernen Technologien und Entwicklungsmodellen ist die Individualentwicklung auch für kleine Unternehmen erschwinglich geworden.
                                            
  .span4
    %h2 Dienstleistungen
    %p
      Sämtliche Programme, die wir anbieten, sind als Service verfügbar. Das heisst Sie müssen sich nicht um das Backup oder den Betrieb eines Servers kümmern. Ein Computer mit Internet-Zugang reicht und Sie haben sämtliche Unternehmensdaten zur Verfügung.                                    
  .span4
    %h2 Kontakt
    %p
      Nehmen sie jederzeit Kontakt mit uns auf.
.row
  .span4= link_to "Weitere Informationen", '/products', :class => "btn"

  .span4= link_to "Weitere Informationen", '/services', :class => "btn"

  .span4= link_to "Weitere Informationen", '/contact', :class => "btn"
