.row
  .span12
    .page-header
      %h1
        Team
        %small wir sind immer für Sie da
.row
  .span3
    = link_to "http://bookyt.demo.cyt.ch/tenants/1/balance_sheet", :target => 'bookyt_demo', :class => 'thumbnail' do
      = image_tag 'bookyt.png'
  .span9
    %p
      Wir sind ein junges und dynamisches Team welches durch langjährige Erfahrung in der Medizinalinformatik kompetente Lösungen für Ärzte und andere KMUs anbietet. Unser Credo ist stets die Minimierung unnötigen Aufwandes. Dafür eignen sich besonders die aus der Open Source Entwicklung bekannten Geschäftsmodelle. Das heisst, dass die Software an und für sich frei erhältlich ist, und lediglich der Service bezahlt werden muss. Somit wird gewährleistet, dass genau die Kosten entstehen, welche auch einen Nutzen bringen.
.row
  .span12
    .page-header
      %h1
.row
  .span4
    %h3 Ramon Egloff
    %p
      Kundenbetreuung
      Projektmanagement
      Mitglied der Geschäftsleitung

      Xing Profile
      Follow me on twitter!

  .span4
    %h3 Simon Hürlimann
    %p
      Technologie
      Entwicklung
      Mitglied der Geschäftsleitung

      Xing Profile
      Follow me on twitter!
      Fork me on github.com?
  .span4
    %h3 Roman Simecek
    %p
      Technologie
      Entwicklung


      Xing Profile
      Follow me on twitter!
      Fork me on github.com

.row
  .span4
    %h3 Dany Rickenbacher
    %p
      Verkauf
      Marketingmanagement


      Xing Profile
      Follow me on twitter!

  .span4
    %h3 David Hürlimann
    %p
      Serverumgebung
      Software Installation/Wartung
      Dokumentation

      Xing Profile
      Follow me on twitter! 
  .span4
    %h3 Andi Staub
    %p
      Praktikant
      Entwicklung
